{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2019  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}
<h1>{{title}}</h1>
<div class="media mt-4">
    {{!<?php if($this->permission->createAllowed()): ?>
    <img id="preview-image" class="rounded mr-4" src="{ {previewImage} }">
    <?php endif; ?>}}
    <div class="media-body">
        {{description}}
        <small style="font-style: italic;">
            <div>Erstellt am {{creationDate}}</div>
        </small>
    </div>
</div>
<p class="mt-4">
    Zurück zur
    <a class="text-reset" href="?">
        Übersichtenseite
    </a>
</p>
{{!
<?php if($this->permission->createAllowed()): ?>
<div class="fileuploadArea"></div>
<input id="curgal" type="hidden" value="<?php echo($this->id); ?>" />
<input id="curpage" type="hidden" value="<?php echo($this->page); ?>" />
<div class="dropzone mb-4">
    <a class="btnRemove noshow" href="#">x</a>
    <div class="clearFileSelect">
        <input
            class="fileselectupload"
            data-onlyimage="true"
            type="file"
            name="file"
            style="width: 24em;"
            multiple="multiple"
            accept="image/jpeg,image/png,image/gif,image/bmp,image/webp,image/tiff"
        >
        <button
            type="button"
            class="btn btn-success btn-sm btnUpload noshow"
            data-url="<?php echo($this->getCurrentPath()); ?>"
        >hochladen</button>
    </div>

    <?php /*
    <div class="fileSelectDescr">
        Datei hier ablegen oder klicken zum Hochladen
    </div>
    <div class="currfile" ></div>
     *
     */?>

</div>
<div class="noshow progress mb-1 ">
    <div
        id="progressbar-file"
        class="progress-bar progress-bar-striped bg-success progress-bar-animated"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
    >0%</div>
</div>
<div class="noshow progress mb-4">
    <div
        id="progressbar-all"
        class="progress-bar progress-bar-striped bg-success progress-bar-animated"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
    >0% [Datei 5 von 7]</div>
</div>

<?php endif; ?>
}}
<div class="d-flex flex-wrap">
    {{#each pics}}
    <div class="p-1 ">
        <a href="{{lnk}}" rel="lightbox-gallerie">
            <img class="" alt="" src="{{src}}" title="{{ttp}}" />
        </a>
       {{!
        <!--
        <div>
            <a
                id="clid<?php /*echo($entry['id']);*/?>"
                style="font-weight: bold; font-size: 0.8em;"
                class="fold"
                title="Hier klicken um Kommentare zu lesen"
                href="#"
            >
                12 Kommentare &#9660;
            </a>
        </div>
        -->
        <?php if($this->permission->createAllowed()): ?>
        <div class="mt-2">
            <button
                type="button"
                class="btn btn-danger btn-sm"
                data-toggle="modal"
                data-target="#deleteDialogModal"
                data-url="<?php echo($this->getCurrentPath()); ?>"
                data-item-id="<?php echo($this->id . '__' . $v['ttp']);?>"
                data-form-id="<?php echo($this->getPathSimplified()); ?>"
            >löschen</button>
            <button
                type="button"
                class="btn btn-success btn-sm btnChangePreview"
                data-url="<?php echo($this->getCurrentPath()); ?>"
                data-item-id="<?php echo($this->id . '__' . $v['ttp']);?>"
                data-form-id="<?php echo($this->getPathSimplified()); ?>"
            >Vorschau</button>
            <button
                type="button"
                class="btn btn-success btn-sm btnRotateImage"
                data-url="<?php echo($this->getCurrentPath()); ?>"
                data-item-id="<?php echo($this->id . '__' . $v['ttp']);?>"
                data-form-id="<?php echo($this->getPathSimplified()); ?>"
            >Drehen</button>
        </div>
        <?php endif; ?>
        }}
    </div>
    {{/each}}
</div>
{{!
<?php if(count($this->pics) > 16): ?>
<p>
    Hier geht's zurück zum <a class="link" href="#">Seitenanfang</a>
</p>
<?php endif; ?>
<script src="/js/gallery.js"> </script>
}}