{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2017  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}
<h1  class="pb-5">{{title}}</h1>
<p>{{about}}</p>
<div class="alert alert-info" role="alert">
    <strong>Anmerkung</strong>
    <p>
    Solltest Du ebenfalls einen interessanten Artikel entdeckt haben
    dann immer her damit. Auch alte Mitteilungen sind gerne willkommen.
    Am besten Du schickst ihn per E-Mail an
    <a class="alert-link" href="mailto:{{sfw2_project.webmaster_mail_address}}">{{sfw2_project.webmaster_mail_address}}</a>.
    Bitte gib den Namen der Zeitung und das jeweilige Datum mit an.
    </p>
</div>
{{#if create_allowed}}
<div class="pt-3 pb-5">
    <button
        type="button"
        class="btn btn-secondary sfw2-create-button"
        data-sfw2-form-id="#{{sfw2_routing.path_simplified}}"
        data-sfw2-url="{{sfw2_routing.path}}?do=create"
    >
        Neuen Zeitungsartikel anlegen...
    </button>
</div>
<div id="{{sfw2_routing.path_simplified}}" class="d-none">
    <form class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="{{sfw2_routing.path_simplified}}_title" class="form-label text-body-secondary">Title</label>
            <input
                id="{{sfw2_routing.path_simplified}}_title"
                type="text"
                class="form-control"
                name="title"
                required="required"
                maxlength="50"
                title="Gib hier bitte die Überschrift des neuen Zeitungsartikels ein."
            >
            <div class="form-text invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="{{sfw2_routing.path_simplified}}_date" class="form-label text-body-secondary">Veröffentlichung</label>
            <input
                id="{{sfw2_routing.path_simplified}}_date"
                class="form-control "
                type="date"
                name="date"
                required="required"
                title="Gib hier bitte das Veröffentlichungsdatum im Format TT.MM.JJJJ ein."
                maxlength="10"
            />
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="{{sfw2_routing.path_simplified}}_source" class="form-label text-body-secondary">Quelle</label>
            <input
                id="{{sfw2_routing.path_simplified}}_source"
                type="text"
                class="form-control form-control-sm"
                name="source"
                title="Wo kommt der Artikel her? HAZ, NDZ..."
                maxlength="5"
            />
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="{{sfw2_routing.path_simplified}}_file" class="form-label text-body-secondary">Zeitungsartikel</label>
            <input
                id="{{sfw2_routing.path_simplified}}_file"
                data-sfw2-onlyimage="true"
                accept="image/jpeg,image/png,image/gif,image/bmp,image/webp,image/tiff"
                class="form-control"
                required
                type="file"
            />
            <div class="invalid-feedback"></div>
        </div>
        <div class="  mb-1 ">
            <div style="height: 10px" class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div id="sfw2-progress-bar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 0"></div>
            </div>
        </div>
    </form>
</div>
{{/if}}
<div class="vstack gap-3 align-items-center">
   {{#each items}}
    <div class="p-2 my-5" id="{{formid}}_recordset_{{id}}">
        <p class="card-text">
            <a href="{{image}}" data-lightbox="image-1" data-title="{{title}}">
                <img class="img-fluid rounded" title="{{title}}" alt="{{title}}" src="{{preview}}" />
            </a>
        </p>
        <small style="font-style: italic;">
            Erstellt am <time pubdate="pubdate">{{date}}</time>;
            Quelle: {{source}}
            {{#if ../delete_allowed}}
            <input type="hidden" id="{{../sfw2_routing.path_simplified}}_title_{{id}}" value="{{title}} vom {{date}}" />
            <button
                type="button"
                class="btn btn-sm btn-secondary ms-3 ml-4 sfw2-delete-button"
                data-sfw2-url="{{../sfw2_routing.path}}?do=delete"
                data-sfw2-item-id="{{id}}"
                data-sfw2-form-id="#{{../sfw2_routing.path_simplified}}"
            >löschen</button>
            {{/if}}
        </small>
        <div>
            {{title}}
        </div>
    </div>
    {{/each}}
</div>
{{#unless items}}
<div class="alert alert-info pt-3" role="alert">
    <strong>Anmerkung:</strong><p>Aktuell liegen keine Artikel vor!</p>
</div>
{{/unless}}
