{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2019  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}
<h1 class="pb-5">{{caption}}</h1>
<p>
    Um Dir die Bilder der jeweiligen Galerie anzuschauen, klicke bitte auf das
    jeweilige Vorschaubild.
</p>
<div class="alert alert-info" role="alert">
    <strong>Anmerkung</strong>
    <p>
    Wenn ein Bild gelöscht werden soll, dann schreib bitte einen entsprechenden Hinweis an
    <a class="alert-link" href="mailto:{{sfw2_project.webmaster_mail_address}}">{{sfw2_project.webmaster_mail_address}}</a>.
    </p>
</div>
<p class="pb-3">
    Du hast ebenfalls Bilder? Immer her damit. Wenn Du magst, kannst Du
    Dir die jeweiligen Galerien auch als Zip-Datei herunterladen. Die Archive
    enthalten die Bilder in der besten Auflösung...
</p>
{{#sfw2_authority.create}}
<div class="pt-3 pb-5">
    <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#sfw2-form-dialog-modal"
        data-sfw2-form-id="{{sfw2_routing.path_simplified}}"
        data-sfw2-url="{{sfw2_routing.path}}"
    >
        Neue Gallerie anlegen...
    </button>
</div>

<div id="{{sfw2_routing.path_simplified}}" class="d-none">
    <form class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="{{sfw2_routing.path_simplified}}_name" class="form-label">Name</label>
            <input
                id="{{sfw2_routing.path_simplified}}_name"
                type="text"
                class="form-control"
                name="name"
                required="required"
                maxlength="50"
                title="Gib hier bitte die Überschrift der neuen Galerie ein."
            >
            <div class="form-text invalid-feedback">fehler</div>
        </div>
        <div class="mb-3">
            <label for="{{sfw2_routing.path_simplified}}_description" class="form-label">Beschreibung</label>
            <textarea
                id="{{sfw2_routing.path_simplified}}_description"
                class="form-control form-control-sm"
                data-name="description"
                placeholder="Hier kommt die Beschreibung rein ..."
                title="Hier kommt die Beschreibung der Gallerie hin. Max. 65.535 Buchstaben"
                cols="30"
                rows="10"
                maxlength="65535"
            ></textarea>
            <div class="invalid-feedback">fehler</div>
        </div>

    </form>
</div>
{{/sfw2_authority.create}}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each entries}}
    <div class="col">
        <div class="card mb-3 " style="max-width: 500px;">
            <div class="row g-0">
                <div style="background-color: #d3d6d94d; min-height: 130px;" class="col-md-4">
                    <a class="text-reset" href="{{link}}">
                        <img src="{{previewImage}}" class="img-fluid rounded-start" alt="{{title}}">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title pb-2">{{title}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{{description}}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
